.react_theme-contentbox {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.react_theme-contentbox-line{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
}

.react_theme-contentbox-intro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.react_theme-contentbox-intro h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    color: white;

    flex: 1;
}

.react_theme-contentbox-intro p{
    padding: 0 1rem;
    margin-right: 2rem;
    flex: 2;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: white;
}

.react_theme-contentbox-slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4rem 0;
}

.react_theme-contentbox-slogan h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    width: 475px;
    
}

.react_theme-contentbox-slogan p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
}

.react_theme-contentbox-features{
    display: flex;
}

.react_theme-contentbox-features h2{
    color: white;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    padding-top: 1rem;

    margin-bottom: 1rem;
}

.react_theme-contentbox-features p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: white;
}

.react_theme-contentbox-feature{
    flex: 1;
    display: flex;
    flex-direction: column;

    padding-right: 1rem;
}

@media screen and (max-width: 890px) {
    .react_theme-contentbox-feature1 h2, .react_theme-contentbox-feature3 h2{
        padding-bottom: 1.7rem;
    } 
}

@media screen and (max-width: 500px){
    .react_theme-contentbox-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .react_theme-contentbox-slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .react_theme-contentbox-slogan h1{
        font-size: 20px;
        line-height: 24px;
        padding: 0 1rem 1rem;
    }

    .react_theme-contentbox-slogan p{
        font-size: 14px;
        line-height: 18px;
    }

    .react_theme-contentbox-features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .react_theme-contentbox-features h2{
        padding: 1rem;
    }

    .react_theme-contentbox-features p{
        padding-bottom: 2.5rem;

        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 400px){
    .react_theme-contentbox-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .react_theme-contentbox-intro p{
        padding: 0;
        margin: 0;
        line-height: 22px;
    }

    .react_theme-contentbox-slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .react_theme-contentbox-slogan h1{
        font-size: 16px;
        line-height: 18px;
        padding: 1rem 7rem 1rem;
    }

    .react_theme-contentbox-features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .react_theme-contentbox-features h2{
        padding: 1rem 0;
    }

    .react_theme-contentbox-features p{
        padding-bottom: 2.5rem;

        font-size: 12px;
        line-height: 16px;
    }
}